:root {
font-size: 12pt;
}

body {
  background-color:lightcyan ;
  padding:20px;
  margin:auto;
}

.game {
  border:0.1px solid lightcyan ;
}


h1{
  text-align: center;
  color: blueviolet;
  font-size: 3rem;
}

.Scores {
  font-size: 1.3rem;
  text-align: center;
  margin:20px;
 }


.allCards { 
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card { 
  width: 260px;
  height: 350px;
  border: 1px solid antiquewhite; 
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  margin:5px auto; 
}

img {
  width: 220px;
  height: 220px;
  margin:20px;
} 


h5 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}